<html>
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            ＊＊＊此信件為系統自動寄出，請勿回復＊＊＊</h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            系統自動收件<br>
            <br>
            銷售檔案：<br>
            應收取{num1}份檔案，實際收取{num2}份檔案，{DealerNameFS}未繳交<br>
            <br>
            庫存檔案：
            應收取{num3}份檔案，實際收取{num4}份檔案，{DealerNameFI}未繳交<br>
            <br>
            共收取{num5}份檔案，共{num6}筆資料，<br>
            其中{num7}筆資料內容或格式錯誤<br>
            <br>
            <h4>經系統比對後，共有{num8}筆資料不符合主檔內容</h4>
            <br>
            詳細內容請查閱附件<br>
            <br>
            檔案已傳送至EFT及OneDrive雲端<br>
            <br>
            若有任何問題<br>
            歡迎詢問Coign業務窗口<br>
            感謝您<br>
        </p>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Hi：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            ＊＊＊This mail is auto send by system. Please not reply.＊＊＊</h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            The system automatically receives files.<br>
            <br>
            Sales file：<br>
            應收取{a}份檔案，實際收取{b}份檔案，{DealerNameFS}未繳交<br>
            <br>
            庫存檔案：
            應收取{c}份檔案，實際收取{d}份檔案，{DealerNameFI}未繳交<br>
            <br>
            共收取{e}份檔案，共{f}筆資料，<br>
            其中{g}筆資料內容或格式錯誤<br>
            <br>
            <h4>經系統比對後，共有{h}筆資料不符合主檔內容</h4>
            <br>
            詳細內容請查閱附件<br>
            <br>
            檔案已傳送至EFT及OneDrive雲端<br>
            <br>
            若有任何問題<br>
            歡迎詢問Coign業務窗口<br>
            感謝您<br>
        </p>
    </body>
</html>