<html><!--主旨：轉換結果報告-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回復</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            系統自動收件，共收取 {FileNum}份檔案，共 {DataNum}筆資料，其中 {CheckErrorNum}筆資料內容或格式錯誤。<br>
            <br>
            經系統轉換，發現共有 {ChangeErrorNum}筆資料錯誤。<br>
            詳細內容請查閱附件 {ReportName}。<br>
            <br>
            完成轉換之檔案已傳送至 EFT 及備分至 OneDrive 雲端。<br>
            <br>
            若有任何問題，<br>
            請詢問 Coign 窗口。<br>
            感謝您。<br>
        </p>
        <br>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear Sir/Madam,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            The system has automatically received {FileNum} files, containing a total of {DataNum} records.<br>
            Among them, {CheckErrorNum} records have content or format errors.<br>
            <br>
            After system verification, there are {ChangeErrorNum} erroneous records.<br>
            Please refer to the attachment {ReportName} for detailed information.<br>
            <br>
            The converted files have been sent to EFT and backed up to OneDrive.<br>
            <br>
            If you have any questions,please contact Coign representative.<br>
            Thank you.<br>
        </p>
    </body>
</html>