<html>
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            BD合作之經銷商，您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            ＊＊＊此信件為系統自動寄出，請勿回復＊＊＊</h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            因貴公司<span style="color:red;">未繳交{FileName}</span><br><!--銷售檔案or庫存檔案-->
            應上傳時間：{DateTime}}前<br><!--日期+時間-->
            <br>
            特在此通知<br>
            <br>
            該檔案將紀錄為缺繳<br>
            若為日繳檔案於隔天檔案內容中補齊即可<br>
            若為跨月份檔案須重新上傳至OneDrive雲端<br>
            <br>
            若有任何疑問<br>
            請聯絡對應之BA窗口<br>
            感謝您<br>
        </p>
    </body>
</html>