<html>
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            BD合作之經銷商，您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            ＊＊＊此信件為系統自動寄出，請勿回復＊＊＊</h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            貴公司補繳交的{FileName}，並未在缺繳紀錄中<br><!--銷售檔案之名稱or庫存檔案之名稱-->
            <br>
            該檔案將被系統刪除，不做留存<br>
            <br>
            特在此通知<br>
            <br>
            若有任何疑問<br>
            請聯絡對應之BA窗口<br>
            感謝您<br>
        </p>
    </body>
</html>