<html><!--主旨：經銷商檔案未繳交-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            BD合作之經銷商，您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回覆</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <!--第Num次通知--><br>
            <br>
            因貴公司<span style="color:red;">未繳交 {FileName}，</span><br><!--銷售檔案or庫存檔案-->
            應上傳時間：{DateTime} 前，特在此通知。<br><!--日期+時間-->
            <br>
            該檔案將紀錄為缺繳。<br>
            若為日繳檔案於隔天檔案內容中補齊即可；<br>
            若為跨月份檔案須重新上傳至 OneDrive 雲端。<br>
            <br>
            若有任何疑問，<br>
            請詢問 Coign 窗口。<br>
            感謝您。<br>
        </p>
        <br>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear BD Partner Distributor,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <!--Numth notification--><br>
            <br>
            Your company<span style="color:red;"> has not submitted the {FileName}.</span><br><!--銷售檔案or庫存檔案-->
            The file should have been uploaded by:{DateTime}.<br><!--日期+時間-->
            <br>
            If it is a daily submission, please correct the content in the file for the next day.<br>
            If it is a monthly file, please re-upload it to OneDrive.<br>
            <br>
            If you have any questions,please contact Coign representative.<br>
            Thank you.<br>
        </p>
    </body>
</html>