<html><!--主旨：經銷商檔案補繳異常-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            BD合作之經銷商，您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回復</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            貴公司補繳交的{FileName}，並未在缺繳紀錄中。<br>
            <br>
            該檔案將被系統刪除，不做留存。<br>
            請盡快繳交正確的{FileType}檔案至OneDrive雲端。<br><!--銷售or庫存-->
            特在此通知。<br>
            <br>
            若有任何疑問，<br>
            請詢問Coign窗口。<br>
            感謝您。<br>
        </p>
        <br>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear BD Partner Distributor,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            The {FileName} that your company submitted is not recorded in the missing submissions.<br>
            <br>
            This file will be deleted by the system and will not be retained.<br>
            Please submit the correct {FileType}File to OneDrive as soon as possible.<br>
            <br>
            If you have any questions, please contact the Coign representative.
            Thank you.<br>
        </p>
    </body>
</html>