<html><!--主旨：經銷商檔案內容錯誤-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            BD 合作之經銷商，您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回覆</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <!--第 Num 次通知--><br>
            <br>
            貴公司所繳交的 {FileName}，經系統核對後，內容或格式有誤。<br><!--銷售檔案之名稱or庫存檔案之名稱-->
            <br>
            詳細錯誤資訊請參考附件。<br>
            <br>
            若為日繳交檔案且並未跨月份，<br>
            請針對隔日繳交之檔案進行修正即可。<br>
            <br>
            若為跨月份補繳檔案，<br>
            請修正後再重新上傳至 OneDrive 雲端。<br>
            <br>
            若有任何疑問，<br>
            請詢問 Coign 窗口。<br>
            感謝您。<br>
        </p>
        <br>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear BD Partner Distributor,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <!--Num th notification--><br>
            <br>
            The {FileName} submitted by your company has content or format errors according to system verification.<br><!--銷售檔案之名稱or庫存檔案之名稱-->
            <br>
            Please refer to the attachment for detailed error information.<br>
            <br>
            If it is a daily submission and does not span across months, please correct the file in the next day's submission.<br>
            If it is a monthly resubmission, please correct it and re-upload to OneDrive.<br>
            <br>
            If you have any questions,please contact Coign representative.<br>
            Thank you.<br>
        </p>
    </body>
</html>