<html><!--主旨：EFT雲端檔案上傳失敗-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回覆</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
			系統上傳檔案至EFT雲端發生錯誤，嘗試上傳次數已達上限值。<br>
			錯誤檔案：{FileName}<br><!--日期+時間-->
			請盡快釐清失敗原因，並重新上傳至EFT雲端。<br>
			<br>
			感謝您。<br>
        </p>
        <br>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear Sir/Madam,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
			An error occurred while uploading the file to the EFT cloud.<br>
            The maximum number of upload attempts has been reached.<br>
			Error File: {FileName}<br><!--檔案名稱-->
			Please promptly investigate the cause of the failure and re-upload the file to the EFT cloud.<br>
			<br>
			Thank you.<br>
        </p>
    </body>
</html>