<html><!--主旨：EFT雲端連線失敗-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回覆</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
			當前測試系統與 BD EFT 雲端連線失敗。<br>
			測試時間：{DateTime}<br><!--日期+時間-->
			請盡快釐清失敗原因。<br>
			<br>
			感謝您。<br>
        </p>
        <br>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear Sir/Madam,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
			The current test system has failed to connect to the BD EFT cloud. <br>
			Test time：{DateTime}<br><!--日期+時間-->
			Please clarify the cause of the failure as soon as possible.<br>
			<br>
			Thank you.<br>
        </p>
    </body>
</html>