<html><!--主旨：Error Report-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回復</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            經銷商繳交之檔案在系統轉換過程中產生錯誤。<br>
            詳細錯誤資訊請查閱附件 {ErrorReportFileName}，並即時修正 MasterFiles 檔案。<br>
            <br>
            若有任何疑問，<br>
            請詢問 Coign 窗口。<br>
            感謝您。<br>
        </p>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear Sir/Madam,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            There was an error in the system conversion process for the file submitted by the distributor.<br>
            Please refer to the attachment {ErrorReportFileName} for detailed error information and promptly correct the MasterFile.<br>
            <br>
            If you have any questions,please contact Coign representative.<br>
            Thank you.<br>
        </p>
    </body>
</html>