<html><!--主旨：經銷商檔案內容錯誤-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回覆</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            更新的 {MasterFileName}，經系統核對後，內容或格式有誤。<br><!--MasterFile名稱-->
            <br>
            詳細錯誤資訊請參考附件。<br>
            <br>
            請盡速修正 MasterFile 檔案。<br>
            <br>
            若有任何疑問，<br>
            請詢問 Coign 窗口。<br>
            感謝您。<br>
        </p>
        <br>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear Sir/Madam,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            The updated {MasterFileName} has been verified by the system and contains errors in content or format.<br><!--銷售檔案之名稱or庫存檔案之名稱-->
            <br>
            Please refer to the attached file for detailed error information.<br>
            <br>
            Please correct the MasterFile as soon as possible.<br>
            <br>
            If you have any questions,please contact Coign representative.<br>
            Thank you.<br>
        </p>
    </body>
</html>