<html><!--主旨：MasterFile維護-->
    <body>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            您好：</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>此信件為系統自動寄出，請勿回復</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            經系統確認， MasterFile 中共有 {DataNum}筆資料，價格將於 {DateTime} 失效。<br>
            請盡速更新 MasterFile 檔案。<br>
            {OneDriveLink}<br>
            <br>
            若有任何疑問，<br>
            請詢問 Coign 窗口。<br>
            感謝您。<br>
        </p>
        <h2 style="font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            Dear Sir/Madam,</h2>
        <h3 style="color:red;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            <b><i>This email is automatically sent by the system. Please do not reply.</i></b></h3>
        <p style="font-size: medium;font-family: Arial, 'Microsoft JhengHei',sans-serif ;">
            The system has confirmed that there are {DataNum} records in the MasterFile with contracts expiring on {DateTime}.<br>
            Please update the MasterFile promptly.<br>
            {OneDriveLink}<br>
            <br>
            If you have any questions,please contact Coign representative.<br>
            Thank you.<br>
        </p>
    </body>
</html>